@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-Light.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-LightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-SemiBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-Bold.ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../webfonts/en/Cormorant/Cormorant-BoldItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}




@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-ExtraLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../webfonts/ar/IBMPlexSansArabic/IBMPlexSansArabic-Bold.ttf");
  font-weight: bolder;
  font-style: normal;
}



@font-face {
  font-family: "URW DIN Arabic";
  src: url("../webfonts/ar/DIN/URW-DIN-Arabic-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN Arabic";
  src: url("../webfonts/ar/DIN/URW-DIN-Arabic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN Arabic";
  src: url("../webfonts/ar/DIN/URW-DIN-Arabic-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "URW DIN Arabic";
  src: url("../webfonts/ar/DIN/URW-DIN-Arabic-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "URW DIN Arabic";
  src: url("../webfonts/ar/DIN/URW-DIN-Arabic-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

